html
    box-sizing: border-box
    // scroll-behavior: smooth
    color: black
    font-family: arial
    font-size: 16px

body
    min-width: 320px
    overflow-x: hidden
    position: relative

*, *::before, *::after 
    box-sizing: inherit

a 
    text-decoration: none



// .main-content__row 
//     display: flex
//     &>*
//         width: 100%
//         min-width: 200px