.user-table__info
    display: flex
.user-table__info-photo
    border-radius: 50%
    width: 80px
    height: 80px
    min-width: 80px
    min-height: 80px
.user-table__info-main
    padding-left: 15px 